.env
__pycache__/
*.pyc
.ipynb_checkpoints/
.DS_Store
*.db
*.log
venv/
.venv/
.vscode/
.idea/
*.txt
!requirements.txt
!Health_Report_*.txt
*dataset*
data/
outputs/
models/*.pkl
models/*.h5
models/*.joblib
